
  body {
    background-color: beige;
  }
  h1 {
    font-size: 15px;
  }
  h6 {
    border: 5px dashed #4caf4c ;
    border-radius: 10px;
    width: fit-content;
    font-size: 40px;
    background-color: whitesmoke;
  }