
  body {
      background-color: #1c1c1c;
    }
  h1 {
      font-size: 15px;
    }
  h6 {
      background-color: whitesmoke;
      border: 5px solid black ;
      border-radius: 10px;
      font-size: 40px;
      width: fit-content;
    }
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  .borderer {
      border: 1px solid;
      width: fit-content;
    }
 .subheader_bold {
  background-color: aliceblue;
  border: .1px solid ;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  width: fit-content;
}
 .list_box_entry {
    background-color: aliceblue;
    border: .2px solid ;
    border-radius: 5px;
    color: black;
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    text-decoration: none;
    width: 210px;
  }
   .center_entry {
      background-color: aliceblue;
      border: .1px solid ;
      border-radius: 5px;
      color: black;
      display: block;
      font-size: 25px;
      font-weight: bold;
      margin: auto;
      text-align: center;
      text-decoration: none;
      width: 210px;
    }
  a:hover{
      color: green ;
    }
  .homebutton
  {
  color: black;
}
  .center_list_even_spacing{
       display: flex;
       flex-direction: column;
       height: 400px;
       justify-content: space-between;

       /* Evenly space items vertically */
       /* Set the height of the container */
     } 
.voice_div_style{
    background-color: whitesmoke;
    border: 4px solid;
    display: block;
    font-size: large;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: min-content;
  }
.audio_player_500px{
    width: 500px;
  }
.sticky_header {
    background-color: white;
    border: 4px solid;
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin: -10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    position:-webkit-sticky;
    position: sticky;
    text-align: center;
    top: 0px;
  }