
  body {
    background-color: beige;
    
  }
  h1 {
    font-size: 15px;
  }
  h6 {
    border: 5px solid black ;
    border-radius: 10px;
    width: fit-content;
    font-size: 40px;
    background-color: whitesmoke;
    
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  .borderer {
    border: 1px solid;
    width: fit-content;
 }
 .textboxbold {
font-weight: bold;
font-size: 25px;
background-color: aliceblue;
width: fit-content;
border: .1px solid ;
border-radius: 5px;
 }